html {
  margin: 0;
}

span {
  display: block;
}
.canvas {
  margin: 100px auto 100px;
  width: 80%;
  text-align: center;
}

.button {
  width: 100px;
  height: 100px;
  border: solid rgb(0, 0, 0) 2px;
  display: inline-block;
}

#skyblue {
  background: skyblue;
}

#green {
  background: rgb(72, 244, 72);
}
#pink {
  background: pink;
}
#yellow {
  background: yellow;
}
