html {
  font-family: sans-serif;
}

body {
  width: 300px;
  max-width: 750px;
  min-width: 480px;
  margin: 0 auto;
  background-color: #212121;
}

.lastResult {
  color: rgb(63, 78, 214);
  padding: 7px;
}

.guesses {
  color: rgb(229, 215, 215);
  padding: 7px;
}

button {
  background-color: #b41414;
  color: rgb(13, 13, 13);
  width: 250px;
  height: 50px;
  border-radius: 18px;
  font-size: 30px;
  border-style: none;
  margin-top: 30px;
  /* margin-left: 50px; */
}

#subt {
  background-color: #531ba6;
  color: #f3e7e7;
  width: 200px;
  height: 50px;
  border-radius: 10px;
  font-size: 20px;
  border-style: none;
  margin-top: 50px;
  /* margin-left: 75px; */
}

#guessField {
  color: rgb(0, 0, 0);
  width: 250px;
  height: 50px;
  font-size: 30px;
  border-style: none;
  margin-top: 25px;

  /* margin-left: 50px; */
  border: 5px solid #057a7a;
  text-align: center;
}

#guess {
  font-size: 55px;
  /* margin-left: 90px; */
  margin-top: 120px;
  color: rgb(124, 6, 6);
}

.guesses {
  color:rgb(63, 78, 214);
}

#wrapper {
  box-sizing: border-box;
  text-align: center;
  width: 450px;
  height: 550px;
  background-color: rgb(239, 123, 142);
  color: rgb(26, 8, 132);
  font-size: 25px;
}

h1 {
  background-color: #2c22bb;

  color: rgb(231, 215, 215);
  text-align: center;
}

p {
  font-size: 16px;
  text-align: center;
}
